.header{
    width: 100%;
    height: 100px;
    background: #2838e0;
    float: left;
}
body{
    margin: 0;
}
.left-section{
    width: 13%;
    height: 710px;
    background: #9d28e0;
    float: left;
}
.right-section{
    width:87%;
    height: 710px;
    /* background: green; */
    float: left;
}
.head-left-sec{
    width: fit-content;
    height: 100px;
    padding-left: 60px;
    padding-top: 2px;
    font-size: 20px;
    float: left;
}
.head-right-sec{
    width: 70%;
    height: 100px;
    padding-left: 55%;
    padding-top: 30px;
    margin-left: 30%;
}
#logout-btn{
    width: fit-content;
    height: 20px;
}
#logout-btn:hover{
    background-color: #2838e0;
    color: white;
    border-color: white;
}
#dash-head{
    margin-left: 50px;
    margin-top: 20px;
}
.dash{
    height: 50px;
    width:100%;
    background: #9d28e0;
    font-size: large;
    font-weight: bold;
    border: 1;
    border-color: white;
    color: white;
}
.dash:hover{
    background: white;
    color: black;
}
.up-head{
    width: 100%;
    height: 75px;
    background: #bbc0c7;
    padding-left: 40px;
    padding-top: 20px;
}
.down{
    width: 90%;
    height: 400px;
    border: solid 1px;
    border-color: #ccd4e0;
    margin-left: 67px;
    margin-top: 50px;
}
.down-head{
    width: 1160px;
    height: 50px;
    background: #ccd4e0;
    padding-left: 30px;
    padding-top: 0.09px;
}
.down-content{
    width: 100%;
    height: 350px;
    /* background: red; */
}
.home-btn{
    width: 250px;
    height: 100px;
    margin-left: 105px;
    margin-top: 30px;
}

