.main-body{
    width: 100%;
    height: 1000px;
    /* background: yellow; */
    float: left;
}
body{
    margin: 0;
}
.search{
    width: 90%;
    height: 150px;
    border: solid black;
    margin-left: 70px;
    margin-top: 30px;
    font-size: 30px;
    /* background: red;  */
}
.select-box{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background: lightgray;
}
.tab{
    width: fit-content;
    height: fit-content;
    /* background: red; */
    margin-left: 40%;
    margin-top: 18px;
}
.list{
    width: 100%;
    height: 500px;
    /* background: lightblue; */
    margin-top: 40px;
    padding-left: 40%;
    padding-top: 30px;
}
