.main-body{
    width: 100%;
    height: 1000px;
    /* background: yellow; */
}
body{
    margin: 0;
}
.search{
    width: 58%;
    height: 200px;
    border: solid black;
    margin-left: 70px;
    margin-top: 30px;
    font-size: 30px;
    padding-left: 500px;
    padding-top: 70px ;
}
.select-box{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background: lightgray;
}
